.blog-container{
    width: 100%;
    display: grid;
    grid-template-columns: 2fr 1fr;
    background-color:#F3EAFB ;
}
.blog-main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2em;
}
.blog-img-container{
    padding: 0.5em;
    margin-bottom: 2em;
}
.article-container{
    width: 60%;
    text-align: start;
    line-break: strict;
    line-height: 1.2em;
}
.article-container p{
    padding: .8em;
}
.article-container ul li{
   padding: .8em;
}
.article-subheading{
    font-size: 1.5em;
}

/* .blog-aside{
    background-color: #DCBFF3;
    flex:25%;
} */
@media screen and (max-width:900px){
    .blog-container{
    /* display: grid;
    grid-template-rows:1fr 2fr;
    background-color:#F3EAFB ; */
    display: flex;
    flex-direction: column-reverse;
}
}