.blog-container{
    display: flex;
    flex-wrap: wrap;
}
.blog-main{
    flex:70%;
    background-color:#F3EAFB ;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2em;
}
.blog-img-container{
    padding: 0.5em;
    margin-bottom: 2em;
}
.article-container{
    width: 60%;
    text-align: start;
    line-break: strict;
    line-height: 1.2em;
}
.article-container p{
    padding: .8em;
}
.article-container ul li{
   padding: .8em;
}


/* .blog-aside{
    background-color: #DCBFF3;
    flex:25%;
} */