@import "navbar.css";
@import "blogCard.css";
@import "subscribeForm.css";
@import "blog.css";
@import "authorCard.css";
* {
        margin: 0;
      }
.main-container{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.home-title{
    margin: 1em 0.1em;
}




/* Purple Darker
#391B50
Purple Dark
#6C3498
Purple
#9F4CDF
Purple Light
#BE85E9
Purple Lighter
#DCBFF3
Purple Lightest
#F3EAFB */
